.paragraph {
    font-size: 20px;
    font-weight: 30px;
}
.paragraph_wrapper {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    all: unset;
    border: 1.8px solid saddlebrown;
    padding: 5px 10px;
    border-radius: 5px;
}


